/**
 * Container
 */
.uz9-capture-area-container {
	position: relative;
}

.uz9-capture-area-container p {
	margin: 1em 0;
}

#uz9-capture-contents {
	margin: 2em auto;
	max-width: 1024px;
}

#uz9-capture-contents p {
	margin: 2em 0;
}

/**
 * Ratio check
 */
.uz9-capture-ratio-container {
	text-align: center;
	margin: 1em 0;
}

.uz9-capture-ratio-container span {
	margin-right: 1.5em;
}

.uz9-capture-ratio-container label {
	margin-right: .5em;
}


/**
 * button
 */
.uz9-capture-button-container {
	position: relative;
	text-align: center;
	margin: 2em 0;
}

.uz9-capture-area-container .uz9-button {
	position: relative;
	display: inline-block;
	background: #663399;
	color: #FFFFFF;
	border: none;
	cursor: pointer;
	font-size: 16px;
	margin: 0 .5em;
	padding: 1em 2em;
	border-radius: 4px;
	box-shadow: 0 4px 0 #4d2673;
	outline: 0;
	line-height: 1;
	text-decoration: none;
}

.uz9-capture-area-container .uz9-button:active {
	top: 4px;
	box-shadow: none;
}


/**
 * Canvas
 */

#uz9-canvas-container-outer {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#uz9-canvas-container-outer.x1 {
	max-width: 50%;
}

.uz9-canvas-container {
	position: relative;
	padding-top: 56.25%;
	height: 0;
	width: 100%;
}

.uz9-canvas {
	background-color: #999999;
	margin: auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* Disabled */
#uz9-capture-contents.disabled {
	visibility: hidden;
}


/**
 * Loading...
 */

/* Loading Icon Container */
.uz9-loading-container {
	position: absolute;
	z-index: 10;
	background-color: #fff;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	padding: 10px;
	border-radius: 5px;

	/* flexbox */
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	  -ms-flex-direction: column;
	      flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	  -ms-flex-align: center;
	      align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	  -ms-flex-pack: center;
	      justify-content: center;
	-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	      flex-wrap: wrap;
}
/* Loading Circle */
.uz9-loading {
	position: relative;
	display: block;
	margin: auto auto 5px;
	width: 50px;
	height: 50px;
	margin: auto;
	border: 2px solid #CCCCCC;
	border-radius: 50%;
}
.uz9-loading::before {
	content: '';
	display: block;	
	position: absolute;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	width: 50px;
	height: 50px;
	border: 2px solid transparent;
	border-top-color: #663399;
	border-radius: 50%;
	animation: uz9-loading-spin .7s linear infinite;
}
/* Loading Text */
.uz9-loading-container span {
	display: block;
	text-align: center;
	margin-top: 5px;
	line-height: 1;
	font-size: 12px;
	color: #666;
}
@keyframes uz9-loading-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


/**
 * Flash player
 */

.uz9-capture-area-container.uz9-is-flash-player {
	box-sizing: border-box;
	max-width: 960px;
	margin: 1em auto;
	padding: .25em 1em;
	border: 2px solid #999999;
}

.uz9-capture-area-container .uz9-flash-notification {
	padding-left: 1.5em;
	text-indent: -1.5em;
	line-height: 1.6;
}

/* Icon */
.uz9-capture-area-container .uz9-flash-notification:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: .5em;
	width: 1em;
	height: 1em;
	background: url('chrome-extension://__MSG_@@extension_id__/img/icon48.png') no-repeat 50% 50%;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}